# Default ignored files
/../../G. ABBC or BACB /.idea/shelf/
/../../G. ABBC or BACB /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../G. ABBC or BACB /.idea/httpRequests/
# Datasource local storage ignored files
/../../G. ABBC or BACB /.idea/dataSources/
/../../G. ABBC or BACB /.idea/dataSources.local.xml
