# Default ignored files
/../../I - Tenki /.idea/shelf/
/../../I - Tenki /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../I - Tenki /.idea/httpRequests/
# Datasource local storage ignored files
/../../I - Tenki /.idea/dataSources/
/../../I - Tenki /.idea/dataSources.local.xml
