# Default ignored files
/../../K - Next Alphabet /.idea/shelf/
/../../K - Next Alphabet /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../K - Next Alphabet /.idea/httpRequests/
# Datasource local storage ignored files
/../../K - Next Alphabet /.idea/dataSources/
/../../K - Next Alphabet /.idea/dataSources.local.xml
