# Default ignored files
/../../Karen and Coffee /.idea/shelf/
/../../Karen and Coffee /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Karen and Coffee /.idea/httpRequests/
# Datasource local storage ignored files
/../../Karen and Coffee /.idea/dataSources/
/../../Karen and Coffee /.idea/dataSources.local.xml
