# Default ignored files
/../../E - Caesar Cipher /.idea/shelf/
/../../E - Caesar Cipher /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../E - Caesar Cipher /.idea/httpRequests/
# Datasource local storage ignored files
/../../E - Caesar Cipher /.idea/dataSources/
/../../E - Caesar Cipher /.idea/dataSources.local.xml
