# Default ignored files
/../../E. Base Converssion /.idea/shelf/
/../../E. Base Converssion /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../E. Base Converssion /.idea/httpRequests/
# Datasource local storage ignored files
/../../E. Base Converssion /.idea/dataSources/
/../../E. Base Converssion /.idea/dataSources.local.xml
