# Default ignored files
/../../Way Too Long Words /.idea/shelf/
/../../Way Too Long Words /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Way Too Long Words /.idea/httpRequests/
# Datasource local storage ignored files
/../../Way Too Long Words /.idea/dataSources/
/../../Way Too Long Words /.idea/dataSources.local.xml
