# Default ignored files
/../../Binary Search /.idea/shelf/
/../../Binary Search /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Binary Search /.idea/httpRequests/
# Datasource local storage ignored files
/../../Binary Search /.idea/dataSources/
/../../Binary Search /.idea/dataSources.local.xml
