# Default ignored files
/../../ Forest Queries /.idea/shelf/
/../../ Forest Queries /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ Forest Queries /.idea/httpRequests/
# Datasource local storage ignored files
/../../ Forest Queries /.idea/dataSources/
/../../ Forest Queries /.idea/dataSources.local.xml
